[Unit]
Description=Capstone project 2025
After=network.target

[Service]
User=your_username
WorkingDirectory=/usr/capstone/SpringCapstone2025
ExecStart=/bin/bash /user/capstone/SpringCapstone2025/run.sh
Restart=always

[Install]
WantedBy=multi-user.target