<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Automatic yiled recording</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css" integrity="sha512-UiKdzM5DL+I+2YFxK+7TDedVyVm7HMp/bN85NeWMJNYortoll+Nd6PU9ZDrZiaOsdarOyk9egQm6LOJZi36L2g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js" integrity="sha512-79j1YQOJuI8mLseq9icSQKT6bLlLtWknKwj1OpJZMdPt2pFBry3vQTt+NZuJw7NSd1pHhZlu0s12Ngqfa371EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=cancel" />
    <meta charset="UTF-8">
    <style>
        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
            }

            70% {
                box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
            }

            100% {
                box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
            }
        }

        .recording {
            animation: pulse 1.5s infinite;
        }
    </style>
</head>

<body class="relative">
    <div class="flex items-center min-h-screen bg-gray-100 gap-4 flex-col p-12 relative">
        <div class="w-full max-w-3xl bg-white rounded-2xl shadow-lg p-8">
            
            <h1 class="text-2xl font-bold text-blue-700 mb-6 text-center">
                {{ session_name }}
            </h1>
            <div class="border border-gray-300 rounded-lg p-6 bg-gray-50">
                <p class="text-base text-gray-700 mb-4">
                    <strong>Model ID:</strong> {{ model_id }}
                </p>
                <p class="text-base text-gray-700 mb-4">
                    <strong>Schema ID:</strong> {{ schema_id }}
                </p>
                <p class="text-base text-gray-700">
                    <strong>Temporary Table ID:</strong> {{ temporary_table_id }}
                </p>
            </div>
        </div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-6 max-h-80"
            id="history-table">
            <thead class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-300 ">
                <tr>
                    {% for column in column_name %}
                    <th scope="col" class="px-6 py-3">{{ column }}</th>
                    {% endfor %}
                    <th scope="col" class="px-6 py-3">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b text-gray-600 dark:bg-gray-200 dark:border-gray-700 border-gray-200">
                </tr>
            </tbody>
        </table>
        <div class="mt-4 w-full">
            <button id="openRecordAdder"
                class="w-full text-black bg-gray-300 hover:bg-gray-400 focus:outline-none focus:ring-gray-400 font-medium rounded-lg text-sm px-4 py-2">
                Add record
            </button>
        </div>
        <div id="count" data-count="{{ column_name | length }} hidden"></div>
    </div>
    <div id="debugModal" class="fixed inset-0 flex items-center justify-center bg-gray-50/75 hidden">
        <div class="bg-black rounded-lg shadow-lg w-full max-w-2xl p-6 border-gray-500 border relative h-[600px]">
            <h2 class="text-2xl font-bold text-white">Debug terminal</h2>
            <div class="p-2" id="terminal"></div>
        </div>
    </div>
    <div id="modal" class="fixed inset-0 flex items-center justify-center bg-gray-50/75 hidden">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-2xl p-6 border-gray-500 border relative">
            <div class="absolute top-3 right-0">
                <button id="closeModal" class="px-4 py-2 text-gray rounded-lg hover:text-gray-500">
                    <span class="material-symbols-outlined">cancel</span>
                </button>
            </div>
            <h2 class="text-2xl font-bold mb-4">Add record</h2>
            <form id="addRecordForm" action="" method="POST">
                {% for column in column_name %}
                    <label class="block text-sm font-medium text-gray-700">{{ column | title }}</label>
                        <input type="text" name="{{ loop.index0 }}"
                               class="w-full my-2 h-10 border border-gray-300 rounded-lg p-2 resize-none"
                               required>
                {% endfor %}
                <button type="submit"
                    class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700">
                    Add
                </button>
            </form>
            <!-- <form action="" method="POST">
                <label for="title" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" name="name"
                    class="w-full my-2 h-10 border border-gray-300 rounded-lg p-2 resize-none" required>
                <label for="title" class="block text-sm font-medium text-gray-700">Schema</label>
                <select id="schema-select" name="schema_id"
                    class="w-full my-2 h-10 border border-gray-300 rounded-lg p-2 resize-none"></select>
                <label for="title" class="block text-sm font-medium text-gray-700">Model</label>
                <select id="model-select" name="model_id"
                    class="w-full my-2 h-10 border border-gray-300 rounded-lg p-2 resize-none"></select>
                <button type="submit"
                    class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700">Create</button>
            </form> -->
        </div>
    </div>
    <script>
        const adapter = `http://${window.location.host}/user/working/{{ session_id }}` 

        document.getElementById("addRecordForm").onsubmit = function (e) {
            e.preventDefault()
            const form = e.target;
            const formData = new FormData(form);
            const addedData = {
                table_id: "{{ temporary_table_id }}",
                record: []
            }
            const count = parseInt(document.getElementById("count").dataset.count);
            for (let i = 0; i < count; i++){
                const fieldValue = formData.get(i.toString());
                addedData.record.push(fieldValue)
            }
            fetch(`${adapter}/add/row`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(addedData)
                    }).then(response => {
                        if (!response.ok) {
                            Toastify({
                                text: "Fail to upload!",
                                duration: 3000,
                                gravity: "top",
                                position: "right",
                                backgroundColor: "#ED2939"
                            }).showToast();
                        }
                        else {
                            Toastify({
                                text: "Record added!",
                                duration: 3000,
                                gravity: "top",
                                position: "right",
                                backgroundColor: "#4CAF50"
                            }).showToast();
                        }
                    })
                    loadTables()
        }
        const modal = document.getElementById("modal");
        const openBtn = document.getElementById("openRecordAdder");
        const closeBtn = document.getElementById("closeModal");

        openBtn.addEventListener("click", () => { modal.classList.remove("hidden"); });
        closeBtn.addEventListener("click", () => { modal.classList.add("hidden"); });
        window.addEventListener("click", (e) => { if (e.target === modal) modal.classList.add("hidden") });
        window.addEventListener("keydown", (e) => { if (e.key === "Escape") modal.classList.add("hidden"); });

        let pollingInterval = null;
        async function loadTables() {
            await fetch(`${adapter}/get`).then(async (response) => {
                if (response.ok) {
                    data = await response.json()
                    populateTable(data)
                }
            })
        }
        function startPolling() {
            if (!pollingInterval) {
                pollingInterval = setInterval(loadTables, 1000);
            }
        }
        function stopPolling() {
            if (pollingInterval) {
                clearInterval(pollingInterval);
                pollingInterval = null;
            }
        }
        function populateTable(data) {
            const tableBody = document.querySelector("#history-table tbody");
            tableBody.innerHTML = "";
            const transposedData = [];

            for (let colIndex = 0; colIndex < data[0].length; colIndex++) {
                const column = [];
                for (let rowIndex = 0; rowIndex < data.length; rowIndex++) {
                    column.push(data[rowIndex][colIndex] || "");
                }
                transposedData.push(column);
            }
            transposedData.forEach((columnData, rowIndex) => {
                const row = document.createElement("tr");
                row.className = "bg-white border-b text-gray-600 dark:bg-gray-200 dark:border-gray-700 border-gray-200"
                columnData.forEach((cellData, colIndex) => {
                    const cell = document.createElement("td");
                    cell.className = "px-6 py-4 max-w-15";
                    cell.textContent = cellData;
                    cell.contentEditable = true;
                    cell.spellcheck = false;

                    cell.addEventListener("blur", () => {
                        const newValue = cell.textContent;
                        const currentOriginalValue = data[colIndex][rowIndex];
                        if (newValue !== currentOriginalValue) {
                            sendUpdateRequest(rowIndex, colIndex, newValue);
                        }
                        startPolling();
                    });
                    cell.addEventListener("focus", () => {
                        stopPolling();
                    });
                    cell.addEventListener("keydown", (event) => {
                        if (event.key === "Enter") {
                            if (event.key === "Enter") {
                                event.preventDefault();
                                cell.blur()
                            }
                        }
                    });
                    row.appendChild(cell);
                });
                const deleteCell = document.createElement("td");
                const deleteButton = document.createElement("button");
                deleteButton.textContent = "Delete";
                deleteButton.className = "text-white bg-red-500 hover:bg-red-600 px-4 py-2 rounded-lg";
                deleteCell.className = "whitespace-nowrap text-center w-5";
                deleteButton.addEventListener("click", () => {
                    deleteRow(rowIndex);
                });
                deleteCell.appendChild(deleteButton);
                row.appendChild(deleteCell);

                tableBody.appendChild(row);
            });
            function sendUpdateRequest(rowIndex, colIndex, newValue) {

                if (data[rowIndex].every(x => x === '')) {
                    const deletedData = {
                        row: rowIndex,
                        table_id: "{{ temporary_table_id }}"
                    };
                    fetch(`${adapter}/delete/row`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(deletedData)
                    }).then(response => {
                        if (!response.ok) {
                            Toastify({
                                text: "Update failed, contact admin!",
                                duration: 3000,
                                gravity: "top",
                                position: "right",
                                backgroundColor: "#4CAF50"
                            }).showToast();
                        }
                    })
                    loadTables()
                }
                else {
                    const updatedData = {
                        row: rowIndex,
                        col: colIndex,
                        value: newValue,
                        table_id: "{{ temporary_table_id }}"
                    };
                    data[rowIndex][colIndex] = newValue;
                    fetch(`${adapter}/update`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(updatedData)
                    })
                        .then(response => {
                            if (!response.ok) {
                                Toastify({
                                    text: "Update failed, contact admin!",
                                    duration: 3000,
                                    gravity: "top",
                                    position: "right",
                                    backgroundColor: "#4CAF50"
                                }).showToast();
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });
                }
            }
        }

        window.addEventListener("click", (e) => {
            if (e.target === debugModal) debugModal.classList.add("hidden");
        });

        window.addEventListener("keydown", (e) => {
            if (e.key === "Escape") debugModal.classList.add("hidden");
        });

        function deleteRow(rowIndex) {
            const updatedData = {
                row: rowIndex,
                table_id: "{{ temporary_table_id }}"
            };

            fetch(`${adapter}/delete/row`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(updatedData)
            })
                .then(response => {
                    Toastify({
                        text: "Deleted!",
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "#4CAF50"
                    }).showToast();
                    loadTables()
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }

        startPolling()
        window.addEventListener('DOMContentLoaded', loadTables);
    </script>
</body>

</html>